/* Add some gallery design with flexboxes */

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-item {
    flex-basis: 33.33%;
    padding: 10px;
}

.gallery-item img {
    display: block;
    max-width: 100%;
    height: auto;
}